@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Inmobiliaria Alaniz</h1>
    <p>Leer sobre <a href="https://docs.microsoft.com/aspnet/core">App creada con ASP.NET Core</a>.</p>
</div>

